[project]
name = "siege-leviathan"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.124.2",
    "httpx>=0.28.1",
    "pydantic-settings>=2.12.0",
]
